.btn-login {
    padding: 0.7rem;
    width: 100%;
}

.btn-download {
    box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2)!important;
}

.input-group>.input-group-append>.btn,
.btn-search-inline {
    background-color: $top-drpdwn-hdr-bg;
    border: 1px solid $top-drpdwn-hdr-bg;
    border-radius: .35rem !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}