.btn-login {
    padding: 0.7rem;
    width: 100%;
}

.btn-download {
    box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2)!important;
}

.input-group>.input-group-append>.btn,
.btn-search-inline {
    background-color: $top-drpdwn-hdr-bg;
    border: 1px solid $top-drpdwn-hdr-bg;
    border-radius: .35rem !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.btn-circle {
    width: 30px !important;
    height: 30px !important;
    text-align: center !important;
    padding: 6px 0 !important;
    font-size: 14px !important;
    line-height: 1.428571429 !important;
    border-radius: 15px !important;
}

.btn-circle.btn-lg {
    width: 50px !important;
    height: 50px !important;
    padding: 10px 16px !important;
    font-size: 18px !important;
    line-height: 1.33 !important;
    border-radius: 25px !important;
}

.btn-circle.btn-xl {
    width: 70px !important;
    height: 70px !important;
    padding: 10px 16px !important;
    font-size: 24px !important;
    line-height: 1.33 !important;
    border-radius: 35px !important;
}