/*
Primary colors
*/

$background: #ffffff;
$color: #333;
$p-color: #999;
$white: #ffffff;
$black: #000000;
$content-bg: #f8f9fc;
$gray-400-color: #d1d3e2;
$gray-500-color: #b7b9cc;
$gray-800-color: #5a5c69;

/* Loaded CSS */

$loader-background: rgba(0, 0, 0, 0.9);

/*header css*/

$top-tgglr-hvr-bg: #eaecf4;
$top-tgglr-actv-bg: #dddfeb;
$top-nvlnk-actv-color: #858796;
$top-nvlnk-hvr-color: #b7b9cc;
$top-nvlnk-color: #d1d3e2;
$shadow-bg: rgba(58, 59, 69, .15);
$top-drpdwn-hdr-bg: #4e73df;
$top-drpdwn-brdr: #4e73df;
$top-drpdwn-mn-color: #858796;
$top-drpdwn-mn-bg: #fff;
$top-drpdwn-mn-brdr: #e3e6f0;
$top-drpdwn-hdr-color: #858796;
$top-drp-itm-color: #3a3b45;
$top-drp-itm-hvr-color: #2e2f37;
$top-drp-itm-hvr-bg: #f8f9fc;
$top-drp-itm-actv-bg: #eaecf4;
$top-drp-itm-actv-color: #3a3b45;
$top-drp-itm-brdr-l: #e3e6f0;
$top-drp-itm-brdr-r: #e3e6f0;
$top-drp-itm-brdr-b: #e3e6f0;
$stts-ind-bg: #eaecf4;
$stts-ind-brdr: #ffffff;

/*navigation css*/

$sbar-bg: #4e73df;
$sbar-strt-bg: #4e73df;
$sbar-end-bg: #224abe;
$sbar-color: rgba(255, 255, 255, .8);
$sbar-brnd-color: #fff;
$sbar-dvdr-brdr-top: rgba(255, 255, 255, .15);
$sbar-sbmn-bg: rgba(5, 98, 127, 0.3);
$sbar-chevron-icon: #C4CFDA;
$sbar-nvlnk-icon: rgba(255, 255, 255, .3);
$sbar-actv-nvlnk: #fff;
$sbar-toggler-bg: rgba(255, 255, 255, .2);
$sbar-toggler-color: rgba(255, 255, 255, .5);

/*elements*/

$download-link-bg: #fff;
$download-link-color: #7386D5;
$article-link-bg: #6d7fcc;
$article-link-color: #ffffff;

/*table styles*/

$tbl-hdr-color: #858796;

/*
Modal css variables
*/

$modal-background: $white;
$modal-text: #000000;
$modal-header-background: #378fe7;
$modal-header-text: $white;