input.form-control,
textarea.form-control,
select.form-control {
    padding: 10px;
    font-size: 12px;
    border-radius: 0px !important;
}

select.form-control {
    padding: .175rem .1rem !important;
    font-size: 13px;
}