<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Manage Email Properties</h1>
    <button class="d-none d-sm-inline-block btn btn-sm btn-primary btn-download" (click)="onAddClick()">
        <i class="fa fa-plus-circle fa-sm text-white-50"></i><span></span> Add Email Property
    </button>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Property List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div class="table-wrapper">
                <table class="table table-borderless paginated-table" cellspacing="0" role="grid">
                    <thead class="thead-light">
                        <tr role="row">
                            <th>#</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Purpose of Email</th>
                            <th>Default Encoding</th>
                            <th>Email From</th>
                            <th>Email Host</th>
                            <th>Port</th>
                            <th>Protocol</th>
                            <th>Use Authentication</th>
                            <th>User STARTTLS</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="properties.length === 0">
                            <td colspan="12">No data found!</td>
                        </tr>
                        <tr *ngFor="let property of properties | paginate: { itemsPerPage: 10, currentPage: page }; index as i" (dblclick)="onEditClick(property.id)">
                            <td scope="row">{{ i + 1 }}</td>
                            <td>{{ property.username }}</td>
                            <td>{{ property.password }}</td>
                            <td>{{ property.purpose }}</td>
                            <td>{{ property.defaultEncoding }}</td>
                            <td>{{ property.emailFrom }}</td>
                            <td>{{ property.emailHost }}</td>
                            <td>{{ property.emailPort }}</td>
                            <td>{{ property.protocol }}</td>
                            <td>{{ property.auth ? 'Yes' : 'No' }}</td>
                            <td>{{ property.starttls ? 'Yes' : 'No' }}</td>
                            <td class="action">
                                <div>
                                    <button type="button" class="btn btn-primary mr-2" (click)="onEditClick(property.id)" data-toggle="tooltip" title="Click to edit record"><i class="fa fa-pencil-square-o"></i></button>
                                    <button type="button" class="btn btn-danger" (click)="onDeleteClick(property)" data-toggle="tooltip" title="Click to delete record"><i class="fa fa-trash-o"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-danger">* Double click on a record to edit it.</div>
        <div class="has-text-centered pagination">
            <pagination-controls (pageChange)="page=$event"></pagination-controls>
        </div>
    </div>
</div>