<div class='reset-wrapper'>
    <div class='container centered-container'>
        <div class='row justify-content-center'>
            <div class='col-xl-10 col-lg-12 col-md-9'>
                <div class='card o-hidden border-0 shadow-lg my-5'>
                    <div class='card-body p-0'>
                        <div class='row'>
                            <div class='col-lg-6 d-none d-lg-block bg-password-image'></div>
                            <div class='col-lg-6'>
                                <div class='p-5'>
                                    <div class='text-center'>
                                        <h1 class='h4 text-gray-900 mb-2'>Reset Password?</h1>
                                    </div>
                                    <form [formGroup]="passwordResetForm" autocomplete="off" class="reset-form" (submit)="onSubmit()">
                                        <div class="form-group">
                                            <label for="newPassword">New Password</label>
                                            <input type="password" class="form-control" formControlName="newPassword" id="newPassword" [ngClass]="{'is-invalid': passwordResetForm.controls.newPassword.touched && passwordResetForm.controls.newPassword.errors}" placeholder="Enter New Password">
                                            <app-control-messages [control]="passwordResetForm.controls.newPassword"></app-control-messages>
                                        </div>
                                        <div class="form-group">
                                            <label for="confirmPassword">Confirm Password</label>
                                            <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword" [ngClass]="{'is-invalid': passwordResetForm.controls.confirmPassword.touched && passwordResetForm.controls.confirmPassword.errors}" placeholder="Confirm Password">
                                            <app-control-messages [control]="passwordResetForm.controls.confirmPassword"></app-control-messages>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class='btn btn-primary btn-user btn-block'>Reset Password</button>
                                        </div>
                                    </form>
                                    <div class="mt-2">
                                        <div *ngIf="message" class="text-success"> {{ message }} </div>
                                        <div *ngIf="errorMsg" class="text-danger"> {{ errorMsg }} </div>
                                    </div>
                                    <hr>
                                    <div class='text-center'>You can <a class='small' href='#' routerLink='/login'>Login</a> from here.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>